
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (width <= 30em) {
}



@media (width <= 30em) {
  nav a {
    display: block;
  }
}

body{
    text-align: justify;
    background-color:Beige;
    color:DimGray;
}
header{
    background-color:CadetBlue;
}
header h1{
    text-align:center;

}
main section{
    background-color:DarkSalmon;
    padding:20px;
}
main section article {
    background-color:MediumAquaMarine;
    padding:20px;
    margin:10px;
    margin:10px;
    
}
main section aside {
    background-color:MediumPurple;
    padding:20px;
    margin:10px;
}
figure{
    background-color:PaleGreen;
    padding:20px;
    display:inline-block;
    float:right;
    margin:10px;
    
}
table{
    background-color:PeachPuff;
    border: 3px double;
    display:inline-block;
    margin:10px;
    border-collapse:collapse;
}
table td{
    border:1px solid;
}
