
@tailwind base;
@tailwind components;
@tailwind utilities;



@media (width <= 30em) {
  nav a {
    display: block;
  }
}

body{
    text-align: justify;
    background-color:Beige;
    color:DimGray;
}
main section{
    background-color:DarkSalmon;
    padding:20px;
}
main section article {
    background-color:MediumAquaMarine;
    padding:20px;
    margin:10px;
    margin:10px;
    
}
main section aside {
    background-color:MediumPurple;
    padding:20px;
    margin:10px;
}
figure{
    background-color:PaleGreen;
    padding:20px;
    display:inline-block;
    float:right;
    margin:10px;    
}
@media(max-width:925px){
	figure{
	display:inline-block;
	float:none;
  
	}
}
table{
    background-color:PeachPuff;
    border: 3px double;
    display:inline-block;
    margin:10px;
    border-collapse:collapse;
}
table td{
    border:1px solid;
}
form input{
	background-color:LightBlue;
	
}
/*css du menu*/
.menu {
	display:flex;
	height:50px;
}
.item{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-grow:1;
	
}
a{
	text-decoration:none;
	color:Teal;
}
.item1 {
	
	background:LavenderBlush;
}
.item2{
	background:Lavender;
}
.item3 {
	background:LightCyan;
}
@media(max-width:800px){
	.menu{
		flex-direction:column;
	}
}
header{
    background-color:CadetBlue;
}
.titre{
	display:inline-block;

	font-family: sans-serif;
}

}
.logo {
	display:inline-block;
	background-color:Blue;
}
.logo a img{
	width:100px;
	display:inline-block;
	float:left;
	background-color:Blue;
	
}
