
.espace{
	height:50px;
	}
.espace1{
	height:50px;
	}
.menu {
	display:flex;
	height:50px;
	width:100%;
	position:fixed;
		border-bottom:solid;
		}	
.item{
	background-color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-grow:1;
	border: solid;
    border-color: lightcoral;
    padding: 5px;
    border-collapse:collapse;
    margin:10px;
    border-radius:5px;
    font-style:"bebas neue";

	
}


.item3{
	margin-right:20px;
}
a{
	text-decoration:none;
	color:black;
}
#actualpage{
    background: lightcoral;
 
}

@media(max-width:800px){
	.menu{
		flex-direction:column;
		height:120px;
	}
	.espace1{
  		height:150px;
		
	}
	.item{
		margin:2px;
		margin-right:20px;
	}
	
}
header{
	background-color:white;
    width:98%;
    height:50px;
    display:flex;
    position:fixed;
    z-index: 1;
    /*border-top:solid 5px;
    border-color:lightcoral;*/
    }

.titre{
	display:flex;
	font-family:"Andale mono",monospace;
	flex: 1;
        text-align: center;
        align-items: center;
        justify-content: center;

}
.logo {
	display:flex;
	margin:auto;
	
}
.logo a img{
	width:50px;
	float:left;
	
}
body{
    text-align: justify;

    color:DimGray;
    padding: 0px;
    margin: 10px;

}
main{
	padding: 0px;
    margin: 0px;

	
}

main section{
    background-color:WhiteSmoke;
    padding:20px;
}
main section article {
    border:solid;
    border-radius:10px;
    padding:20px;
    margin:10px;
    
}
main section aside {
    border:solid;
    border-radius:10px;
    border-color: lightcoral;
    padding:20px;
    margin:10px;
}
figure{
    border:solid;
    border-radius:10px;
    padding:20px;
    display:inline-block;
    float:right;
    margin:10px;    
}
@media(max-width:1035px){
	figure{
	display:inline-block;
	float:none;
  
	}
}
table{
    border: 5px double;
    background-color:white;
    padding:5px;
    display:inline-block;
    margin:10px;
    border-collapse:collapse;
}
table td{
    border:1px solid;
}
form input{
	background-color:LightGrey;
	
}


