.menu {
    display: flex;              
    padding:0;                  
    background-color: #EACAC2;     
}

.menu li {
    list-style-type: none ;   
}

.menu a {
    display:block;               
    min-width: 120px;            
}
